<!DOCTYPE html>
<html>
  <head>
    <title>Positions Page</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <h1>Kickball Positions</h1>

    <ul>
      <% position_list.each do |pos| %>
        <li><a href="/positions/<%= pos %>"><%= pos %></a></li>
      <% end %>
    </ul>
  </body>
</html>
