<!DOCTYPE html>
<html>
  <head>
    <title>Kickball Page</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <h1>Kickball Teams</h1>

    <ul>
      <% all_data.keys.each do |team| %>
        <li><a href="/teams/<%= team %>"><%= team %></a></li>
      <% end %>
    </ul>
  </body>
</html>
